---
name: Generate Registry
run-name: Generate Registry (${{inputs.package}})
on:
  workflow_dispatch:
    inputs:
      package:
        description: 'package name (e.g. cli/cli)'
        required: true
permissions: {}
defaults:
  run:
    shell: "bash -eu -o pipefail {0}"
jobs:
  generate:
    runs-on: ubuntu-latest
    env:
      PKG: ${{inputs.package}}
      BACKTICKS: "```"
    steps:
      - uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 # v3.5.0
      - uses: aquaproj/aqua-installer@61e2563dfe7674cbf74fe6ec212e444198a3bb00 # v2.0.2
        with:
          aqua_version: v1.38.0
        env:
          GITHUB_TOKEN: ${{github.token}}
      - run: aqua gr --deep --out-testdata pkg.yaml "$PKG" | tee registry.yaml
        env:
          GITHUB_TOKEN: ${{github.token}}
      - run: |
          cat << EOS >> "$GITHUB_STEP_SUMMARY"
          Package: $PKG

          registry.yaml

          ${BACKTICKS}yaml
          $(cat registry.yaml)
          $BACKTICKS

          pkg.yaml

          ${BACKTICKS}yaml
          $(cat pkg.yaml)
          $BACKTICKS
          EOS
